$card-border-color: rgb(44, 44, 44);
$card-shadow-color: rgb(119, 119, 119);
$card-hover-color: rgb(155, 199, 188);
$card-selected-color: rgb(169, 216, 204);

.card-section {
  display: flex;
  border: {
    width: 3px;
    color: $card-border-color;
    style: dashed;
  }
  margin: 5px;
  padding: 10px;
}

.card-section.clickable.selected {
  background-color: $card-selected-color;
  border-style: solid;
}

.card-section.clickable:hover {
  background-color: $card-hover-color;
  cursor: pointer;
}


