@import 'reset.scss';
@import 'effects.scss';
@import 'variables.scss';

* {
  font: {
    family: 'courier new';
    size: 16px;
    weight: bold;
  }
  text-align: justify;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  background: $pokedex-background-color;
  width: 400px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px $pokedex-shadow-color;
  border: 1px solid $pokedex-border-color;
}

#pokedex-controls {
  display: flex;
  height: 180px;

  #direction-buttons, #utility-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 0;

    .row-1, .row-2, .row-3 {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-around;

      button {
        display: flex;
        width: 50px;

        img {
          width: 34px;
          height: 34px;
        }
      }

      button[disabled] {
        background-color: $disabled-button-color;
        border-color: $disabled-button-border-color;
        opacity: 0.7;
      }
    }
  }

  #direction-buttons {
    .row-1, .row-2, .row-3 {
      button {
        background-color: $direction-buttons-color;
        border-color: $direction-buttons-border-color;
      }

      .button-up {
        border-top: {
          left-radius: 10px;
          right-radius: 10px;
        }
      }

      .button-left {
        border-top: {
          left-radius: 10px;
        }
        border-bottom: {
          left-radius: 10px;
        }
      }

      .button-right {
        border-top: {
          right-radius: 10px;
        }
        border-bottom: {
          right-radius: 10px;
        }
      }

      .button-down {
        border-bottom: {
          left-radius: 10px;
          right-radius: 10px;
        }
      }
    }
  }

  #utility-buttons {
    .row-1, .row-2, .row-3 {
      button {
        border-radius: 100%;
      }

      .button-search {
        background-color: $search-button-color;
        border-color: $search-button-border-color;
      }

      .button-trash {
        background-color: $trash-button-color;
        border-color: $trash-button-border-color;
      }

      .button-detail {
        background-color: $detail-button-color;
        border-color: $detail-button-border-color;
      }

      .button-plus {
        background-color: $plus-button-color;
        border-color: $plus-button-border-color;
      }
    }
  }
}

#screen {
  display: flex;
  height: 420px;
  margin: 10px;
  background-color: $screen-color;
  border-top: {
    left-radius: 15px;
    right-radius: 15px;
  }
  border: 1px solid $pokedex-border-color;

  h1 {
    padding: 10px;
    text-transform: capitalize;
  }
}

.screen-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#pokemon-search {
  .search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;

    input {
      width: 84%;
      border: none;
      border-bottom: 4px solid black;
      padding: 10px 3%;
      background-color: $screen-color;
    }

    input::-ms-input-placeholder {
      display: none;
      color: transparent;
    }

    button {
      width: 10%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      border-bottom: 4px solid black;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .search-loading {
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;
  }
}

#pokemon-list {
  .pokemon-card-section {
    display: flex;
    flex-direction: row;

    img {
      display: flex;
      flex-grow: 1;
      margin: -16px;
    }

    div {
      display: flex;
      flex-direction: column;
      flex-grow: 3;
      padding-left: 10px;

      h3, p {
        display: flex;
        text-transform: capitalize;
      }

      h3 {
        font-size: 20px;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;

        p {
          display: flex;
          flex-grow: 1;

        }
      }
    }
  }

  .list-warning-arrow {
    display: flex;
    align-self: center;
    width: 40px;
    height: 20px;
  }
}

#pokemon-detail {
  padding: 15px;

  p {
    text-transform: capitalize;
    margin: 3px 0;
  }

  .main-info {
    img {
      float: right;
    }

    h3 {
      text-transform: capitalize;
      font-size: 26px;
    }

    a {
      color: black;
    }

    a:visited {
      color: black;
    }

    a:hover {
      background-color: $hover-color;
    }
  }

  .pokemon-moves {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .moves-detail {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: row;

        p {
          display: flex;
          flex-grow: 5;
        }

        .close-move-detail {
          display: flex;
          height: 25px;
          width: 25px;
          margin-right: -10px;
          margin-top: -10px;
          cursor: pointer;
        }

        .close-move-detail:hover {
          background-color: $hover-color;
        }

        .search-loading {
          display: flex;
          margin: auto;
          width: 100px;
          height: 100px;
          cursor: default;
        }
      }
    }

    .moves-detail.card-section {
      flex-grow: 1;
    }

    .moves-list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      img {
        display: flex;
        align-self: center;
        width: 30px;
        height: 15px;
        min-height: 15px;
      }

      .moves-list-out {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;

        .moves-list-in {
          flex-direction: column;
          overflow-y: scroll;
          flex-grow: 1;
          height: 100px;
          margin-right: -17px;

          div {
            display: inline-block;
            width: 50%;
            text-align: center;
            text-transform: capitalize;
            cursor: pointer;
            overflow: hidden;
            height: 16px;
            min-height: 16px;
          }

          div:hover {
            background-color: $hover-color;
          }
        }
      }

      /*div::-webkit-scrollbar {
        display: none;
      }*/
    }
  }
}

#pokemon-type-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  img {
    display: flex;
    align-self: center;
    width: 30px;
    height: 15px;
    min-height: 15px;
  }

  .search-loading {
    width: 150px;
    height: 150px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    margin-right: -17px;

    div {
      min-height: 13px;
    }

    h3 {
      text-transform: capitalize;
    }
  }

  /*.list::-webkit-scrollbar {
    display: none;
  }*/
}
