$pokedex-background-color: rgb(228, 57, 57);
$pokedex-shadow-color: rgb(148, 148, 148);
$pokedex-border-color: rgb(107, 107, 107);
$screen-color: rgb(172, 224, 211);
$direction-buttons-color: rgb(49, 49, 49);
$direction-buttons-border-color: rgb(114, 114, 114);
$search-button-color: rgb(5, 22, 173);
$search-button-border-color: rgb(36, 50, 177);
$trash-button-color: rgb(216, 25, 25);
$trash-button-border-color: rgb(212, 68, 68);
$detail-button-color: rgb(196, 179, 29);
$detail-button-border-color: rgb(197, 184, 66);
$plus-button-color: rgb(12, 102, 16);
$plus-button-border-color: rgb(30, 105, 33);
$disabled-button-color: rgb(97, 97, 97);
$disabled-button-border-color: rgb(124, 124, 124);
$hover-color: rgb(155, 199, 188);
